 <h1>You're now following "<%= @post.title %>", you will be notified of all comments. If you no longer want to recieve notifications, unfavorite your <%= link_to "post", topic_post_url(@post.topic, @post) %>. </h1>
       
    <%= link_to "View Post on Site", topic_post_url(@post.topic, @post) %>