 
.social-btn{
    
    border: none;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2px;
    background-color: lightskyblue;
    font-size: 10px;
    border-radius: 2px;
    
}
.jumbotron{
    margin-top: 20px;
}