<br>
<% @sponsoredposts.each do |sponsoredpost| %>
    <div class="row">  
        <div class="col-md-8">

        <div class="media-body">
          <h4 class="media-heading">
            <%= link_to sponsoredpost.title, topic_sponsored_post_path(@topic, sponsoredpost) %>
        </h4>
            <small>
        <p><%= sponsoredpost.body %></p>
        </small>
        Price <%= number_to_currency(sponsoredpost.price) %>
        </div>
        <br>
        </div>
   </div>
<% end %>
